body{

margin:0;
overflow:hidden;
font-family:Arial, sans-serif;
background:black;

}

canvas{

display:block;

}

#menu{

position:absolute;

top:50%;
left:50%;

transform:
translate(-50%,-50%);

background:
rgba(0,0,0,.8);

padding:30px;

color:white;

border-radius:20px;

text-align:center;

z-index:100;

}

#menu button{

padding:15px 30px;

font-size:20px;

cursor:pointer;

border:none;

border-radius:10px;

}

#hud{

position:absolute;

top:10px;
left:10px;

padding:10px;

background:
rgba(0,0,0,.6);

color:white;

border-radius:10px;

z-index:100;

}

html,
body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    overflow:hidden;
}

/* Fuerza el contenido a ocupar toda la pantalla */
canvas{
    display:block;
}

/* Mensaje cuando el teléfono está vertical */
#rotateDevice{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:black;
    color:white;
    display:none;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size:30px;
    z-index:99999;
}

/* Si está en vertical */
@media screen and (orientation: portrait){

    #rotateDevice{
        display:flex;
    }

    #menu,
    #hud,
    #mobileVR,
    canvas{
        display:none !important;
    }

}
