body{

margin:0;
overflow:hidden;
font-family:Arial, sans-serif;
background:black;

}

canvas{

display:block;

}

#menu{

position:absolute;

top:50%;
left:50%;

transform:
translate(-50%,-50%);

background:
rgba(0,0,0,.8);

padding:30px;

color:white;

border-radius:20px;

text-align:center;

z-index:100;

}

#menu button{

padding:15px 30px;

font-size:20px;

cursor:pointer;

border:none;

border-radius:10px;

}

#hud{

position:absolute;

top:10px;
left:10px;

padding:10px;

background:
rgba(0,0,0,.6);

color:white;

border-radius:10px;

z-index:100;

}